<h3 style="text-align: center">Update Service</h3>
<div class="table">
  <form [formGroup]="facilityForm" (ngSubmit)="updateFacility(id)" >
    <fieldset>
      <legend style="text-align: center">Form update service</legend>
      <table class="center">
        <tr>
          <th>Name</th>
          <td>
            <select formControlName="serviceName" class="form-control">
              <option value="Villa No Beach Front">Villa No Beach Front</option>
              <option value="Villa Beach Front">Villa Beach Front</option>
              <option value="Room Twin 02">Room Twin 02</option>
              <option value="House Princess 02">House Princess 02</option>
              <option value="House Princess 01">House Princess 01</option>
              <option value="Apartment">Apartment</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Service area</th>
          <td><input formControlName="serviceArea" class="form-control" type="text" ></td>
        </tr>
        <tr>
          <th>Service cost</th>
          <td><input formControlName="serviceCost" class="form-control" type="text" ></td>
        </tr>
        <tr>
          <th>Max people</th>
          <td><input formControlName="maxPeople" class="form-control" type="text" ></td>
        </tr>
        <tr>
          <th>Standard room</th>
          <td>
            <select formControlName="standardRoom" class="form-control">
              <option value="Vip">Vip</option>
              <option value="Normal">Normal</option>
            </select>
          </td>

        </tr>
        <tr>
          <th>Description other convenience</th>
          <td><input formControlName="descriptionOtherConvenience" class="form-control" type="text" ></td>
        </tr>
        <tr>
          <th>Pool area</th>
          <td><input formControlName="poolArea" class="form-control" type="text"></td>
        </tr>
        <tr>
          <th>Number floor</th>
          <td><input formControlName="numberFloor" class="form-control" type="text" ></td>
        </tr>
        <tr>
          <th>Rent type</th>
          <td>
            <select formControlName="rentType" class="form-control">
              <option value="Year">Year</option>
              <option value="Month">Month</option>
              <option value="Day">Day</option>
              <option value="Hour">Hour</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Service type</th>
          <td>
            <select formControlName="svType" class="form-control">
              <option ngValue="Villa">Villa</option>
              <option ngValue="House">House</option>
              <option ngvalue="Room">Room</option>
            </select>
          </td>
        </tr>

        <td></td>
        <td>
          <button class="btn btn-primary" type="submit">Submit</button>
        </td>

      </table>
    </fieldset>
  </form>
</div>

