<section class="section-margin section-margin--small">
  <div class="container">
    <h3 style="text-align: center">Manage Customer </h3>
    <nav class="navbar  navbar-light bg-light justify-content-between">
      <a class="btn btn-lg btn-outline-dark bg-light" [routerLink]="['/create-customer']" style="color: #0b0b0b"><i
        class="fa-solid fa-circle-plus"></i> Create customer</a>

      <form class="form-inline">
        <input class="form-control-lg border-primary" style="margin: 5px" type="search" name="name"
               placeholder="Search name"
               aria-label="Search">

        <input class="form-control-lg border-primary" style="margin: 5px" type="search" name="address"
               placeholder="Search address"
               aria-label="Search">

        <select class="form-control-lg " style="margin: 5px" name="customerType" class="custom-select mr-sm-2"
                id="inlineFormCustomSelect">
          <option value="">Customer type</option>
          <option value="">Member</option>
          <option value="">Diamond</option>

        </select>

        <a class="btn btn-lg btn-outline-dark" type="submit" href=""><i class="fa-solid fa-magnifying-glass"></i>Search</a>

        <!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>-->
      </form>
    </nav>
    <div class="table-responsive-md">
      <table class="table" border="1" style="text-align: center">
        <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Customer name</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Gender</th>
          <th scope="col">Id Card</th>
          <th scope="col">Phone number</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Customer Type</th>
<!--          <th scope="col">Detail</th>-->
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <th scope="row">{{customer.idCustomer}}</th>
          <td>{{customer.nameCustomer}}</td>
          <td>{{customer.dateBirth}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.idCard}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.cusType}}</td>
<!--          <td>-->
<!--            <a class="btn btn-lg btn-light">-->
<!--              <i class="fa-solid fa-user" style="color: #7c1212"></i>-->
<!--              Detail</a>-->
<!--          </td>-->
          <td>
            <a [routerLink]="['/update-customer',customer.idCustomer]" class="btn btn-lg bg-light"><i class="fa-xl fa-solid fa-user-pen" style="color: #7c1212"></i></a>
          </td>
          <td>
            <a class="btn btn-lg bg-light" data-toggle="modal" data-target="#deleteModal" (click)="inforCustomer(customer.idCustomer, customer.nameCustomer)" >
              <i class="fa-xl fa-solid fa-user-slash" style="color: #7c1212"></i></a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Customer</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
            <p>ID: {{idDel}}</p>
            <p>Name: {{nameDel}}</p>
          </div>
          <div class="modal-footer">
            <button (click)="deleteCustomer(idDel)" type="submit" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
