<h3 style="text-align: center">Create Service</h3>
<div class="table">
  <form action="@{/services/save}" method="post">
    <fieldset>
      <legend style="text-align: center">Form create product</legend>
      <table class="center">
        <tr>
          <th>Name</th>
          <td>
            <select class="form-control">
              <option value="">Villa No Beach Front</option>
              <option value="">Villa Beach Front</option>
              <option value="">Room Twin 02</option>
              <option value="">House Princess 02</option>
              <option value="">House Princess 01</option>
              <option value="">Apartment</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Service area</th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th>Service cost</th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th>Max people</th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th>Standard room</th>
          <td>
            <select class="form-control">
              <option value="">Vip</option>
              <option value="">Normal</option>
            </select>
          </td>

        </tr>
        <tr>
          <th>Description other convenience</th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th>Pool area</th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th>Number floor</th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th>Rent type</th>
          <td>
            <select class="form-control">
              <option value="">Year</option>
              <option value="">Month</option>
              <option value="">Day</option>
              <option value="">Hour</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Service type</th>
          <td>
            <select class="form-control">
              <option value="">Villa</option>
              <option value="">House</option>
              <option value="">Room</option>
            </select>
          </td>
        </tr>

        <td></td>
        <td>
          <button class="btn btn-primary" type="submit">Submit</button>
        </td>

      </table>
    </fieldset>
  </form>
</div>
