<section class="section-margin section-margin--small">
  <div class="container">
    <h3 style="text-align: center">Manage Contract </h3>

    <nav class="navbar  navbar-light bg-light justify-content-between">
      <a class="btn btn-lg btn-outline-dark bg-light" [routerLink]="['/contract/create']" style="color: #0b0b0b"><i
        class="fa-solid fa-circle-plus"></i>
        Create Contract</a>

      <div class="form-inline">
        <input class="form-control-lg border-primary" style="margin: 5px" type="date" name="name"
               placeholder="Search name"
               aria-label="Search">
        to
        <input class="form-control-lg border-primary" style="margin: 5px" type="date" name="address"
               placeholder="Search address"
               aria-label="Search">

        <a class="btn btn-lg btn-outline-dark" type="submit" href=""><i class="fa-solid fa-magnifying-glass"></i>Search</a>
      </div>
    </nav>


    <div class="table-responsive-md">
      <table class="table" border="1" style="text-align: center">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Code contract</th>
          <th scope="col">Contract date</th>
          <th scope="col">Contract end date</th>
          <th scope="col">Deposit</th>
          <th scope="col">Customer</th>
          <th scope="col">Service</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contracts">
          <td>{{contract.id}}</td>
          <td>{{contract.startDateContract}}</td>
          <td >{{contract.endDateContract}}</td>
          <td>{{contract.deposit}}</td>
          <td>{{contract.customer.nameCustomer}}</td>
          <td>{{contract.service.serviceName}}</td>
        </tr>

        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
