

  <h3>Edit customer</h3>

  <div class="table">
    <form  method="post">
      <fieldset>
        <legend>Customer Information</legend>
        <table>
          <tr>
            <th>Name</th>
            <td><input class="form-control" type="text" value="Nguyễn Xuân Tùng"></td>

          </tr>
          <tr>
            <th>Date of birth</th>
            <td><input class="form-control" type="date" value="2022-05-12"></td>

          </tr>
          <tr>
            <th>Gender</th>
            <td>
              <select class="form-control">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Gay">Gay</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Id card</th>
            <td><input class="form-control" type="text" value="131234"></td>
          </tr>
          <tr>
            <th>Phone number</th>
            <td><input class="form-control" type="text" value="092193123"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input class="form-control" type="text" value="tung@gmail.com"></td>
          </tr>
          <tr>
            <th>Address</th>
            <td><input class="form-control" type="text" value="94 Lê Qunag Đạo"></td>
          </tr>
          <tr>
            <th>Customer Type</th>
            <td>
              <select class="form-control" >
                <option value="5" selected>Platinium</option>
                <option value="4">Silver</option>
                <option value="3">Gold</option>
                <option value="2">Member</option>
                <option value="1">Diamond</option>
              </select>
            </td>
          </tr>
          <td></td>
          <td>
            <button class="btn btn-primary" type="submit">Submit</button>
          </td>

        </table>
      </fieldset>
    </form>
  </div>

