
  <h3 style="text-align: center">Edit customer</h3>
  <div class="table">
    <form [formGroup]="customerForm" (ngSubmit)="updateCustomer()">
      <fieldset>
        <legend style="text-align: center">Customer Information</legend>
        <table class="center">
          <tr>
            <th>Name</th>
            <td><input formControlName="nameCustomer" class="form-control" type="text" ></td>
          </tr>
          <tr>
            <th>Code customer</th>
            <td><input formControlName="codeCustomer" class="form-control" type="text" ></td>
          </tr>
          <tr>
            <th>Date of birth</th>
            <td><input class="form-control" type="date" formControlName="dateBirth"></td>

          </tr>
          <tr>
            <th>Gender</th>
            <td>
              <select formControlName="gender" class="form-control">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Gay">Gay</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Identification</th>
            <td><input formControlName="idCard" class="form-control" type="text" ></td>
          </tr>
          <tr>
            <th>Phone number</th>
            <td><input formControlName="phone" class="form-control" type="text" ></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input formControlName="email" class="form-control" type="text"></td>
          </tr>
          <tr>
            <th>Address</th>
            <td><input formControlName="address" class="form-control" type="text"></td>
          </tr>
          <tr>
            <th>Customer Type</th>
            <td>
              <select formControlName="cusType" class="form-control"   >
                <option value="Platinium" >Platinium</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
                <option value="Member">Member</option>
                <option value="Diamond">Diamond</option>
              </select>
            </td>
          </tr>
          <td></td>
          <td>
            <button class="btn btn-primary" type="submit">Submit</button>
          </td>

        </table>
      </fieldset>
    </form>
  </div>

