<!--<h1>Caculator</h1>-->
<!--<div>-->
<!--  <input type="number" name="num1" [(ngModel)]="num1" >-->
<!--  <input type="number" name="num2" [(ngModel)]="num2">-->
<!--</div>-->
<!--<div>-->
<!--  <input type="button" (click)="add()" value="Addition(+)">-->
<!--  <input type="button" (click)="sub()" value="Subtraction(-)">-->
<!--  <input type="button" (click)="mul()" value="Multiplication(x)">-->
<!--  <input type="button" (click)="div()" value="Division(/)">-->
<!--</div>-->

<!--<p>Result: {{result}} </p>-->

<h1>Caculator 2</h1>
<div>
  <input type="number" name="num1">
  <input type="number" name="num2">
</div>
<div>
  <input type="button" value="Addition(+)">
  <input type="button" value="Subtraction(-)">
  <input type="button" value="Multiplication(x)">
  <input type="button" value="Division(/)">
</div>

<p>Result: {{result}} </p>
