<body class="main-layout">
<!-- loader  -->
<!--<div class="loader_bg">-->
<!--  <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>-->
<!--</div>-->
<!-- end loader -->
<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Our Room</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our_room -->
<div class="our_room">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="btn btn-lg btn-outline-dark bg-light" [routerLink]="['/facility/create']"><i
          class="fa-solid fa-circle-plus"></i> Create Service</a>
      </div>
      <div class="col-md-12">
        <div class="titlepage">
          <p class="margin_0">Lorem Ipsum available, but the majority have suffered </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let service of services" class="col-md-4 col-sm-6">
        <div id="serv_hover" class="room">
          <div class="room_img">
            <figure><img src="assets/images/room1.jpg" alt="#"/></figure>
          </div>
          <div class="bed_room">
            <h3 >{{service.serviceName}}</h3>
            <p><span class="price mr-2 animated" >{{service.serviceCost}}</span> <span class="per">per night</span></p>
            <ul class="list">
              <li><span  >Max:{{service.maxPeople}}</span></li>
              <li><span  >Standard room:{{service.standardRoom}}</span></li>
              <li><span >Size:{{service.serviceArea}}</span></li>
              <li><span >Service type:{{service.svType}}</span></li>
            </ul>
            <p class="custom-update-fix">
               <span>
                 <a  class="btn bg-white"  ><i class="fa-lg fa-beat fa-solid fa-trash-can" style="color: #0d95e8"></i></a>
               </span>
              <span>
                 <a [routerLink]="['/facility/update', service.serviceId]" class="btn bg-white" href=""><i class="fa-lg fa-beat fa-solid fa-file-pen" style="color: #1e7e34"></i></a>
               </span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end our_room -->

</body>
