<body class="main-layout">
<!-- loader  -->
<!--<div class="loader_bg">-->
<!--  <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>-->
<!--</div>-->
<!-- end loader -->
<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Our Room</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our_room -->
<div class="our_room">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="btn btn-lg btn-outline-dark bg-light" [routerLink]="['/create-facility']"><i
          class="fa-solid fa-circle-plus"></i> Create Service</a>
      </div>
      <div class="col-md-12">
        <div class="titlepage">
          <p class="margin_0">Lorem Ipsum available, but the majority have suffered </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let service of services" class="col-md-4 col-sm-6">
        <div id="serv_hover" class="room">
          <div class="room_img">
            <figure><img src="assets/images/room1.jpg" alt="#"/></figure>
          </div>
          <div class="bed_room">
            <h3 >{{service.serviceName}}</h3>
            <p><span class="price mr-2 animated" >{{service.serviceCost}}</span> <span class="per">per night</span></p>
            <ul class="list">
              <li><span  >Max:{{service.maxPeople}}</span></li>
              <li><span  >Standard room:{{service.standardRoom}}</span></li>
              <li><span >Size:{{service.serviceArea}}</span></li>
              <li><span >Service type:{{service.svType}}</span></li>
            </ul>
            <p class="custom-update-fix">
               <span>
                 <a  class="btn bg-white"  ><i class="fa-lg fa-beat fa-solid fa-trash-can" style="color: #0d95e8"></i></a>
               </span>
              <span>
                 <a [routerLink]="['/update-facility']" class="btn bg-white" href=""><i class="fa-lg fa-beat fa-solid fa-file-pen" style="color: #1e7e34"></i></a>
               </span>
            </p>
          </div>
        </div>
      </div>
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="assets/images/room2.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="bed_room">-->
<!--            <h3>House Princess 01</h3>-->
<!--            <p><span class="price mr-2">$14.000</span> <span class="per">per night</span></p>-->
<!--            <ul class="list">-->
<!--              <li><span>Max:</span>7 Persons</li>-->
<!--              <li><span>Standard room:</span>Vip</li>-->
<!--              <li><span>Size:</span>5000 m2</li>-->
<!--              <li><span>Service type:</span>House</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="assets/images/room3.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="bed_room">-->
<!--            <h3>Room Twin 01</h3>-->
<!--            <p><span class="price mr-2">$1500.00</span> <span class="per">per night</span></p>-->
<!--            <ul class="list">-->
<!--              <li><span>Max:</span>2 Persons</li>-->
<!--              <li><span>Standard room:</span>Normal</li>-->
<!--              <li><span>Size:</span>500 m2</li>-->
<!--              <li><span>Service type:</span>Room</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="assets/images/room4.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="bed_room">-->
<!--            <h3>Villa No Beach Front</h3>-->
<!--            <p><span class="price mr-2">$130.00</span> <span class="per">per night</span></p>-->
<!--            <ul class="list">-->
<!--              <li><span>Max:</span>8 Persons</li>-->
<!--              <li><span>Standard room:</span>Normal</li>-->
<!--              <li><span>Size:</span>9000 m2</li>-->
<!--              <li><span>Service type:</span>Villa</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="assets/images/room5.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="bed_room">-->
<!--            <h3>Apartment</h3>-->
<!--            <p><span class="price mr-2">$300.00</span> <span class="per">per night</span></p>-->
<!--            <ul class="list">-->
<!--              <li><span>Max:</span>4 Persons</li>-->
<!--              <li><span>Standard room:</span>Vip</li>-->
<!--              <li><span>Size:</span>2000 m2</li>-->
<!--              <li><span>Service type:</span>House</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="assets/images/room6.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="bed_room">-->
<!--            <h3>House Princess 02</h3>-->
<!--            <p><span class="price mr-2">$500.00</span> <span class="per">per night</span></p>-->
<!--            <ul class="list">-->
<!--              <li><span>Max:</span>5 Persons</li>-->
<!--              <li><span>Standard room:</span>Normal</li>-->
<!--              <li><span>Size:</span>1000 m2</li>-->
<!--              <li><span>Service type:</span>House</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
<!-- end our_room -->

<!--  footer -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class=" col-md-4">
          <h3>Contact US</h3>
          <ul class="conta">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Address</li>
            <li><i class="fa fa-mobile" aria-hidden="true"></i> +01 1234569540</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Menu Link</h3>
          <ul class="link_menu">
            <li><a href="#">Home</a></li>
            <li><a href="about.html"> about</a></li>
            <li class="active"><a href="room.html">Our Room</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>News letter</h3>
          <form class="bottom_form">
            <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
            <button class="sub_btn">subscribe</button>
          </form>
          <ul class="social_icon">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p>
              © 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a>
              <br><br>
              Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
